# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules
/.pnp
.pnp.js

# Build output
dist
dist-ssr
out
.next
.vercel
.netlify

# Static build cache
.cache
.vite
.vite-temp
temp
build

# TypeScript
*.tsbuildinfo

# Editor files
.vscode/*
!.vscode/extensions.json
.idea/
*.sw?
*.suo
*.ntvs*
*.njsproj
*.sln

# OS-specific files
.DS_Store
Thumbs.db

# Local environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Jest / Cypress test coverage
coverage/
