/* index.css (handles layout & global styles) */

:root {
  /* :root represents the root element of the document, which in HTML is always the html element. */
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: rgb(125, 255, 122);
  background-color: rgb(104, 29, 255);
}

body,
#root {
  /* #root targets the div with the id of root.
  Keep it simple and let the child elements handle the layout. */
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

/* Centering main content */
main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
}
