.home-container {
  text-align: left;
  margin-top: 15vh;
  height: 100vh;
}

@media (max-width: 768px) {
  .home-container {
    margin-top: 5vh;
  }
}

.home-container h1 {
  font-size: 2rem;
}

.home-container p {
  font-size: 1.2rem;
}

.home-text {
  margin: 40px 40px;
  padding: 20px;
}

/* Image Styles - Ensures Circular Shape & Responsiveness */
.home-container img {
  border: 5px solid #646cff;
  width: 100%;
  min-width: 350px;
  max-width: 400px;
  height: auto;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  object-fit: cover;
  margin: 40px;
  padding: 20px;
  box-shadow: rgba(72, 135, 202, 0.8) 0px 0px 90px 5px;
}
