.home-container {
  text-align: left;
  /* Dynamic spacing. Had to do this here
  instead of using bootstrap utilities because 
  the maximal bootstrap margin is mt-5 */
  margin-top: 15vh;
  height: 100vh;
}

@media (max-width: 768px) {
  /* For smaller screens up to 768px in width */
  .home-container {
    margin-top: 5vh;
  }
}

.home-container h1 {
  font-size: 2rem;
}

.home-container p {
  font-size: 1.2rem;
}

.home-container img {
  border: 3px solid #646cff;
}
